<!DOCTYPE html>
<html>

<head>
    <title>Atlas语音转文字</title>
</head>

<body>
    <h1>欢迎使用Atlas语音转文字应用！</h1>
    <h3>请上传一个音频文件，或按住并录音</h3>
    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" />
        <br />
        <br />
        <input type="submit" value="上传" /> <button type="button" onclick="convertCallBack()">转换</button>
        <button id="recButton" type="button" onmousedown="mouseDownInputCallBack()"
            onmouseup="mouseUpUploadCallBack()">按下开始录音</button>
    </form>
    <br />
    <br />
    {% if file_contents %}
    <div id="outputDiv">
        <h2>测试返回输出数据</h2>
        {{ file_contents }}
    </div>
    {% endif %}
</body>

<script src="recorder.js">
    var recorder;
    function startRecording() {
        navigator.mediaDevices.getUserMedia({ audio: true })
            .then(function (stream) {
                recorder = new Recorder(stream);
                recorder.record();
            });
    }

    function stopRecording() {
        recorder.stop();
        recorder.exportWAV(function (blob) {
            var audioURL = window.URL.createObjectURL(blob);
            var audio = new Audio(audioURL);
            audio.play();
        });
    }
</script>

<script>
    function convertCallBack() {
        var xmlhttp;
        xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById("outputDiv").innerHTML = xmlhttp.responseText;
            }
        }
        xmlhttp.open("POST", "/process_convert_form", true);
        xmlhttp.send();
    }

    function mouseDownInputCallBack() {
        startRecording();
        document.getElementById("recButton").innerHTML = "松开完成录制";
    }

    function mouseUpUploadCallBack() {
        stopRecording();
        document.getElementById("recButton").innerHTML = "按下开始录音";
    }
</script>

</html>ter